@import "../index.scss";

.header{
    display: flex;
    align-items: center;
    gap: 30px;
    height: $header-height;
    background-color: $primary;
    padding: 2px 20px;
    box-sizing: border-box;
    &__logo{
        font-size: 6rem;
        color: white;
        display: flex;
        cursor: pointer;
    }
    &__text{
        flex-grow: 1;
        color: white;
        &>h1{
            font-size: 3.5rem;
            white-space: nowrap;
        }
    }
    &__search{
        min-width: 250px;
    }
}
